.c-bf2 {
    --text-main-color: black;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
}

.c-bf2__badge {
    --badge-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12);
    --badge-border: 1px solid #eaeaea;
    --badge-border-radius: 5px;
    --badge-background: white;
    --badge-text-color: black;
}

.c-bf2__list__item {
    --item-by-line-dektop: 5;
    --item-by-line-tablet: 4;
    --item-by-line-mobile: 1;
}