.c-bf2 {
    &__single {
        display: flex;
        flex-wrap: wrap;

        .c-bf2__header {
            flex-basis: 100%;
        }

        .c-bf2__body {
            flex-basis: 100%;
            order: var(--sidebar-position-desktop);
            
            @media screen and (min-width: 1024px) {
                flex-basis: 70%;
                order: var(--sidebar-position-mobile);
            }
        }

        .c-bf2__sidebar {
            flex-basis: 100%;
            order: var(--sidebar-position-mobile);
            
            @media screen and (min-width: 1024px) {
                flex-basis: 30%;
                order: var(--sidebar-position-desktop);
            }
        }
        
    }
}